.comingContent{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 3rem;
}
.contentLeftSide{
    display: flex;
    flex-direction: column  ;
    gap: 1rem;
}
.meetBtn{
    padding: 0.8rem 0.5rem;
    background: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}
.meetBtn:hover{
    opacity: 0.7;
}
.meetIpt{
    height: 2rem;
    padding: 0 1rem;
}
.meetIptSend{
    width: 10%;
    align-self: flex-end;
    position: relative;
    top: -43px;
    background: #0000;
    border: none;
    cursor: pointer                                                                                         ;
}
.meetVectorBg{
    filter: grayscale(1);
}